.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


#h1 {

    animation: myColorAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes myColorAnimation {

0%{
    color: red;
}
20%{
   color: orange;
}
40%{
    color: yellow;
}
60%{
    color: green;
}
80%{
    color: blue;
}
    100%{color: purple;}
}


